<h1> Monsters definition</h1>
<body>
    <div>
    is a type of fictional creature found in horror, fantasy, science fiction, folklore, mythology and religion. Monsters are very often depicted as dangerous and aggressive with a strange, grotesque appearance that causes terror and fear. Monsters usually resemble bizarre, deformed, otherworldly and/or mutated animals or entirely unique creatures of varying sizes, but may also take a human form, such as mutants, ghosts and spirits, zombies or cannibals, among other things.
    </div>
    <div>
    If you want to read more about monsters, visit:  <%= link_to "Wikipedia", "https://en.wikipedia.org/wiki/Monster" %>
    </div>
</body>