<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Monsters
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/browsemon">Browse</a></li>
            <li><a class="dropdown-item" href="/addmon">Add</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/definition">Monster definition</a></li>
          </ul>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Books
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/browsebook">Browse</a></li>
            <li><a class="dropdown-item" href="/addbook">Add</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Authors
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/browseauth">Browse</a></li>
            <li><a class="dropdown-item" href="/addauth">Add</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>